* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2 {
    padding: 0px;
    padding-top: 10px;
    margin: 0px;
    text-align: center;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.3em;
}

hr {
    border: 0;
    height: 1px;
    margin-bottom: 20px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

table td {
    padding: 2px;
}

.top-time.top-sector-time {
    background: rgb(158,236,158); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(158,236,158,1) 0%, rgba(158,236,158,1) 50%, rgba(235,169,244,1) 51%, rgba(235,169,244,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(158,236,158,1) 0%,rgba(158,236,158,1) 50%,rgba(235,169,244,1) 51%,rgba(235,169,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(158,236,158,1) 0%,rgba(158,236,158,1) 50%,rgba(235,169,244,1) 51%,rgba(235,169,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9eec9e', endColorstr='#eba9f4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.legend {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.legend div {
    width: 200px;
    display: inline-block;
    padding: 2px;
    margin: 0 10px;
}

#map {
    height: 100%;
    width: calc(100% - 900px);
}

#results {
    width: 890px;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    padding: 0 5px;
    border-left: 5px solid #333;
}

#results table {
    font-size: 12px;
    margin: 10px 0;
    width: 100%;
}

#results table td:nth-child(12) {
    font-weight: bold;
}

#results table tbody tr:nth-child(even) {
    background-color: #e3e3e3;
}

#results table td:nth-child(1), #results table td:nth-child(2) ~ td {
    text-align: center;
}

table tr.highlight td {
    background-color: #b3cfe6;
}

table tr.highlight td {
    border: 1px solid #5599d5;
}

table tr td {
    border: 1px solid #f6f6f6;
}

table tr td.top-time, .top-time, table tr td.top-speed, .top-speed {
    background-color: #eba9f4;
}

table tr td.top-sector-time, .top-sector-time {
    background-color: #9eec9e;
}

#results table thead {
    font-weight: bold;
    background-color: #444;
    color: white;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f6f6f6;
}

.arrow-down {
    color: red;
    display: inline-block;
    height: 16px;
    width: 17px;
}

.arrow-up {
    color: green;
    display: inline-block;
    height: 16px;
    width: 17px;
}

.sector_time {
    color: #415364;
    /* font-size: 10px; */
}